body {
  margin: 0;
}

body::-webkit-scrollbar {
  display: none;
}

.Contenedor-items {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Input-Search > label {
  color: #fff;
  /* background-color: #000; */
}

.Input-Search > label:focus {
  color: #fff;
}
